<main class="main">
  <div class="inner">
    <div class="bikerspace__wrapper">
      <p class="bikerspace__hedding">
        <%= @bike.title %>
      </p>
      <%= link_to "by #{@bike.user.name}", user_path(@bike.user), class: :bikerspace__user %>
      <% if current_user == @bike.user%>
        <div class="bikerspace__manage">
          <%= link_to "編集する", edit_bike_path(@bike), class: :bikerspace__btn %>
          <%= link_to "削除する", bike_path(@bike), method: :delete, class: :bikerspace__btn %>
        </div>
      <% end %>
      <div class="bikerspace__image">
        <%= image_tag @bike.image %>
      </div>
      <div class="bikerspace__body">
        <div class="bikerspace__detail">
          <p class="detail__title">キャッチコピー</p>
          <p class="detail__message">
            <%= @bike.catch_copy %>
          </p>
        </div>
        <div class="bikerspace__detail">
          <p class="detail__title">コンセプト</p>
          <p class="detail__message">
            <%= @bike.concept %>
          </p>
        </div>
      </div>
      <div class="bikerspace__comments">
        <% if user_signed_in? %>
          <%= form_with model: [@bike, @comment], local: true do |f|%>
            <div class="field">
              <%= f.label :content, "コメント" %><br />
              <%= f.text_field :content, id:"comment_content" %>
            </div>
            <div class="actions">
              <%= f.submit "送信する", class: :form__btn  %>
            </div>
          <% end %>
        <% end %>
        <ul class="comments_lists">
          <% @comments.each do |comment| %>
            <li class="comments_list">
              <%= comment.content%>
              <%= link_to "（#{comment.user.name}）", user_path(comment.user), class: :comment_user %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</main>